
.btn {
  /* border: none; */
  display: block;
  outline: none;
  padding: 12px;
  background-color: white;
  cursor: pointer;
  text-decoration: none;
}

.tout {
  display: flex;
}

h2 {
  border: 1px solid red;
}

.sidebar {
  width: 20%;
  float:left;
  border: 1px solid red;
  display: flex;
}

.articles {
  border: 1px solid red;
  display: flex;
}
