.btn {
  display: flex;
  outline: none;
  padding: 12px;
  background-color: white;
  cursor: pointer;
  text-decoration: none;
  color: red;
}

h2 {
  border: 1px solid red;
  background-color: grey;
}

.sidebar {
  width: 20%;
  float:left;
  border: 1px solid red;
  display: block;
}

.articles {
  border: 1px solid red;
}

.contenant {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.content {
  width: 25%;
  text-align: center;
  margin: 20px;
}

.ajouter {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: black;
}

h6 {
  color: #ea2531;
}
