body {
  font-family: arial, sans-serif;
  width: 60%;
  margin: auto;
  background-color: rgb(40, 40, 40);
}

div {
  display: flex;
  justify-content: center;
}

.divDroite {
  margin-right: 5px;
  flex-direction: column;
  align-items: center;
}

.divDroite p {
  color: rgb(64, 64, 64);
  border: 1px solid rgb(64, 64, 64);
}

img {
  border: 3px solid black;
}
